.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 0 20px;
  background-color: var(--blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: var(--black);
}

@media (min-width: 900px) {
  .App-header {
    flex-direction: column;
    justify-content: space-evenly;

    padding-bottom: 20px;
  }

}

.social-links {
  height: calc(10px + 2vmin);
  width: auto;
}

.social-links img {
  height: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
